<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Gardening</title>
  </head>
  <body>
    <h1>Gardening</h1>
    <p>
      I love gardens! Both growing and visiting them. From 2015 - 2021 my focus
      was our Phoenix backyard garden. Right now I don't get to get my hands
      dirty as much as I would like. Instead, I enjoy a visiting gardens and
      learning about plants with iNaturalist.
    </p>

    <h1 id="PhoenixGarden">Phoenix 2015 - 2021</h1>
    <p>
      Gardening in Phoenix was a bit of a challenge. It freezes enough to be
      dangerous to tropicals, it gets really hot, and there's not much water.
      People from Iraq are in the Phoenix gardening groups because we have a
      similar climate.
    </p>
    <p>
      My inspiration came from visiting friends with productive yards and the
      dream boat that is
      <a target="_blank" href="https://www.montydon.com/">Monty Don</a>. The
      show
      <a
        target="_blank"
        href="https://www.google.com/search?q=big+dreams+small+spaces"
        >Big Dreams Small Spaces</a
      >
      was a huge catalyst. Casually strolling your property and enjoying it's
      produce is a beautiful way to live. Particularly if you garden in an
      efficient way! Buzz words include: food forest, permaculture, organic, and
      low water.
    </p>
    <p>
      Some strengths of the Phoenix area is that it was an agricultural center.
      It has good dirt. There are people who've been really really successful in
      Phoenix who provide plenty of free advice like
      <a target="_blank" href="https://youtu.be/rygts1nOn44?t=240">Jake Mace</a
      >,
      <a target="_blank" href="https://www.greenlifebyshamusoleary.com/"
        >Shamus O'Leary</a
      >, and
      <a target="_blank" href="https://www.urbanfarm.org/courses-2/faculty/gr/"
        >Greg Peterson.</a
      >
    </p>
    <p>
      Some opportunities are
      <a target="_blank" href="https://getchipdrop.com/">Chip Drop</a> (low
      competition) and free stuff from neighbors friends, and big sales at
      nurseries.
    </p>
    <p>
      Threats: disgruntled neighbors, city regulations, pests, and
      <a
        target="_blank"
        href="https://www.azcentral.com/story/news/local/phoenix-weather/2020/09/05/phoenix-august-summer-2020-hottest-history/5729955002/"
        >severe heat</a
      >
      / cold.
    </p>

    <p>The main tenants of the yard came to be:</p>
    <ul>
      <li>make shade</li>
      <li>choose abuse tolerant, edible plants</li>
      <li>mulch A LOT</li>
      <li>add sulfur</li>
      <li>buy cheap</li>
    </ul>

    <p>
      Through trial, error, some free friend labor, and a court case this is the
      before and after.
    </p>
    <div>
      <h2>Before - Spring 2015</h2>
      <img src="resources/photos/garden-before1.JPG" />
      <img src="resources/photos/garden-before2.JPG" />
    </div>
    <div>
      <h2>After - August 2021</h2>
      <img src="resources/photos/garden-after1.jpg" />
      <img src="resources/photos/garden-after2.jpg" />
      <img src="resources/photos/garden-after3.jpg" />
    </div>
  </body>
</html>
