<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Security for Friends and Family</title>
  </head>
  <body>
    <h1>Security for Friends and Family</h1>

    <p>
      This article is my standard advice to friends and family (and
      acquaintances) when they ask me for cyber security tips.
    </p>

    <p>
      The first thing I can offer you is a mindset shift. If you've ever been
      robbed, you know it could happen again, but you do what you can to
      minimize the probability and set up systems to mitigate the risk. Computer
      security is the same way. This isn't to make you afraid, it is help you be
      you aware, alert, and prepared.
    </p>

    <ol>
      <li>Assume you are a (random) target.</li>
      <li>Make it easy for yourself to be (more) secure.</li>
      <li>Assume every company will be hacked.</li>
      <li>Know (and be OK) with the fact you can never be 100% secure.</li>
    </ol>

    <h4>1. Random Target</h4>

    <p>
      There are automated programs that scan the internet and send malicious
      emails / texts / fb messages / etc. These programs don't really check if
      you are broke or a Fortune 500 CEO.
    </p>

    <h4>2. Make It Easy</h4>

    <p>
      Use security systems that aren't difficult or convoluted. The more
      convenient, the less difficulty you'll have continuing to use them.
    </p>

    <h4>3. Assume a Breach</h4>

    <p>
      Check if your email or phone was in a data breach.
      <a target="_blank" href="https://haveibeenpwned.com/"
        >haveibeenpwned.com</a
      >
      tracks some of these breaches. My email has been involved in 9 separate
      company breaches (i.e. Adobe, LinkedIn, Dropbox...). Those are just the
      disclosed ones! Just assume every company will be hacked at some point.
      This is a really nice visualization of big data breaches,
      <a
        target="_blank"
        href="https://www.informationisbeautiful.net/visualizations/worlds-biggest-data-breaches-hacks/"
        >World's Biggest Data Breaches and Hacks</a
      >.
    </p>

    <h4>4. You Can't Be 100% Secure</h4>

    <p>
      You can never be 100% secure. The point is be secure enough that you
      aren't an easy target. If some advanced hacking agency wants to take you
      down, you probably won't be able to stop them. If they really wanted to,
      they could put months of effort and millions of dollars worth of expenses
      into doing it. Eventually they would get you. But even if so, you could be
      proud that you didn't make it
      <a
        target="_blank"
        href="https://www.businessinsider.com/hawaii-emergency-agency-password-discovered-in-photo-sparks-security-criticism-2018-1"
        >easy for them</a
      >.
    </p>

    <h2>The Plan</h2>

    <ul>
      <li>
        USE A DEDICATED PASSWORD MANAGER. Bonus points if you double blind.
      </li>
      <li>Only click trusted links.</li>
      <li>Always use two factor authentication.</li>
      <li>Backup your files. Bonus points for 2 backups.</li>
      <li>Give Less Info Out</li>
      <li>Never, ever use public wifi.</li>
      <li>Be extra if you want.</li>
    </ul>

    <h3>Password Manager</h3>

    <p>
      The idea is that you have one very strong password to get into the
      password manager and the password manager safely stores (encrypts) all
      your passwords.
    </p>

    <p>
      The password manager generates unique, difficult to hack passwords for
      your accounts. This is far superior to reusing the same password or
      variations of it.
      <a
        target="_blank"
        href="https://www.google.com/search?q=why+shouldn%27t+i+resue+passwords"
        >Learn why</a
      >.
    </p>

    <p>
      Here's a
      <a
        target="_blank"
        href="https://www.pcmag.com/picks/the-best-password-managers"
        >list</a
      >. I usually recommend
      <a target="_blank" href="https://1password.com/">1Password</a> and
      <a target="_blank" href="https://www.lastpass.com/">Last Pass</a>.
    </p>

    <p>
      Your browser does have the option of saving and generating passwords.
      <a
        target="_blank"
        href="https://www.google.com/search?q=why+you+shouldn%27t+use+your+browser+as+your+password+manager&amp;oq=why+you+shouldn%27t+use+your+browser+as+your+password+manager"
        >Don't use it</a
      >.
    </p>

    <h4>Bonus: Double Blind</h4>

    <p>
      I love double blinds because they ease my concern that one day, my
      password manager company will get hacked. They claim they're super duper
      secure, but I assume all companies will get popped eventually. It is
      called a double blind because neither you nor the password manager knows
      the full password.
    </p>

    <p>Making a double blind:</p>

    <ul>
      <li>
        The password manager generates and remembers a password for an account.
      </li>
      <li>
        When you update your password on that account, you use the generated
        password PLUS a short personal password.
      </li>
    </ul>

    <p>
      Here's a good
      <a target="_blank" href="https://youtu.be/YNvaf9UzZh4?t=185">video</a>
      explaining password managers and double blinds.
    </p>

    <p>
      You can use the same short personal password over and over. But you can
      get more secure <del>paranoid</del> with it too, more on that later.
    </p>

    <p>
      This also makes me feel more comfortable about finger print authorization
      for the password manager app on my phone. If I'm unconscious (I've been
      <a
        target="_blank"
        href="https://static.blog4ever.com/2016/05/817923/artfichier_817923_6935109_201702163943888.png"
        >chloroformed</a
      >!) and someone unlocks the password manager on my phone with my finger
      print, they would have access to all my passwords AND the second factor of
      authentication. A double blind means they wouldn't have those passwords.
    </p>

    <h3>Only Click Trusted Links</h3>

    <p>
      This is the computer version of practicing safe sex. Clicking bad links in
      messages is the number one way people are scamming other people out of
      money and / or compromising their systems. It is called
      <a target="_blank" href="https://www.knowbe4.com/phishing">phishing</a>
      and it is really common.
    </p>

    <p>
      I know people who have taken advantage of by phishing scams like these.
      There's a whole genre on YouTube of hackers
      <a target="_blank" href="https://youtu.be/RpwQObHEOjI?t=477"
        >hacking back</a
      >
      scammers.
    </p>

    <p>
      The solution to this is to
      <del
        >fix the economic disparities that encourage people to become scammers
        in the first place</del
      >
      always login from the main site. For example you get a message saying you
      have suspicious account activity on your PayPal account. Legit or not,
      don't log in from the link provided in the message. Go to paypal.com
      directly using your browser.
    </p>

    <p>
      I'm very careful about this and only click on links that I'm expecting
      from friends and family. And if I'm not expecting the link, I'll verify
      with them verbally that they sent it before I open it.
    </p>

    <h3>Two Factor Authentication (2FA)</h3>

    <p>
      Use it whenever possible. Two factor authentication usually involves
      something you know (e.g. a password) plus something you must do (e.g.
      enter a code on your smart phone or computer that is sent to you by a
      bank/business, etc.)
    </p>

    <blockquote>
      <p>
        2FA is essential to web security because it immediately neutralizes the
        risks associated with compromised passwords. If a password is hacked,
        guessed, or even phished, that's no longer enough to give an intruder
        access: without approval at the second factor, a password alone is
        useless.
      </p>
    </blockquote>

    <p>
      Source:
      <a
        target="_blank"
        href="https://www.bu.edu/tech/support/information-security/why-use-2fa/#:~:text=2FA%20is%20essential%20to%20web,a%20password%20alone%20is%20useless"
        >Boston University</a
      >.
    </p>

    <p>
      <a
        target="_blank"
        href="https://www.google.com/search?q=why+use+2+factor+authentication"
        >More info</a
      >.
    </p>

    <p>
      One additional note. If for whatever reason you're not going to use it,
      keep in mind if your account <em>does</em> get hacked, the attacker will
      turn it on and make their device the 2nd factor. This will make it
      extremely hard for you to get your account back.
    </p>

    <h3>Backup Your Files</h3>

    <p>
      Backup all your files in the cloud with Dropbox, Google Drive, Apple
      Cloud, or whatever service you like. My preference is a service also
      tracks revision history.
    </p>

    <p>
      If your computer is physically destroyed in a
      <a
        target="_blank"
        href="https://oaklandside.org/2021/10/19/podcast-1991-oakland-berkeley-firestorm-tunnel-fire/"
        >fire</a
      >, you have a backup. If your files are maliciously encrypted, you can
      roll back the version history in the cloud and restore them.
    </p>

    <p>
      For several years I debated using this kind of backup for all my files
      because I have ~ 175 gb of stuff and to back that much up I'd have to pay
      for a subscription. I don't like subscriptions, I prefer set costs. Now
      that I'm doing it, it is so easy and convenient I'd never give it up.
    </p>

    <h4>Bonus: 2nd Backup</h4>

    <p>
      Maybe my cloud backup goes down and automatically deletes all my local
      files too. Or someone steals my computer, hacks my computer login, and
      deletes everything locally and in the cloud. Or maybe there's new malware
      that encrypts all the revisions in my cloud service. I know I know, seems
      improbable, but I worry. That's why this one is bonus.
    </p>

    <p>
      There are really good and convenient services now to backup your files
      onto a second hard drive. You can also encrypt that hard drive. I do this
      once a week while I'm doing laundry. Here's one way to do it for
      <a target="_blank" href="https://www.google.com/search?q=time+machine+mac"
        >MacOS</a
      >.
    </p>

    <h3>Give Less Info Out</h3>

    <p>
      I never give my social security number to hospitals (anymore). They are
      notoriously bad at securing the information in their care. While they ask
      for it, they don't need it and I'm not legally obliged to give it (in the
      USA).
    </p>

    <p>
      If I'm asked for personal information and I know it is only for age
      verification, marketing purposes, or something else that won't affect me
      in the long run, I give fake information. They don't actually need the
      information and I can assume they won't be securing it well.
    </p>

    <h3>Never Use Public WiFi</h3>

    <p>
      Public WiFi may be convenient but I think of it like texting and driving.
      The risk isn't worth it and it can probably wait.
    </p>

    <p>
      <a
        target="_blank"
        href="https://www.google.com/search?q=why+you+shouldn%27t+use+public+wifi"
        >More info</a
      >.
    </p>

    <h2>Words of Encouragement</h2>

    <p>
      You can do this! I know it is overwhelming to do everything at once. What
      worked for me was implementing the plan over time and in order of
      priority.
    </p>

    <ul>
      <li>
        Priority accounts: money, identity, work, primary email. Lose these and
        you lose all your money or your reputation.
      </li>
      <li>
        Secondary accounts: these have sensitive information, but if compromised
        wouldn't completely wreck your life.
      </li>
      <li>
        Tertiary accounts: meh services, but they have your birthday, name,
        phone number, etc.
      </li>
    </ul>

    <h3>Other Considerations</h3>

    <p>
      If your significant other isn't as into this as you, get yourself secure
      first. Then, help them secure at least their primary accounts with a
      password manager and 2FA.
    </p>

    <p>
      For family businesses with a few people, there are group versions of
      password managers. You can also educate and train your coworkers with
      <a target="_blank" href="https://www.knowbe4.com/">phishing tests</a>.
      Just don't make your test in
      <a
        target="_blank"
        href="https://www.theguardian.com/uk-news/2021/may/10/train-firms-worker-bonus-email-is-actually-cyber-security-test"
        >bad taste</a
      >
      like the train company that ran a phishing campaign promising a bonus to
      workers who had run trains during the pandemic as a thank you.
    </p>

    <h2>Getting Extra</h2>

    <p>Here are a few ideas.</p>

    <h4>Super Double Blind</h4>

    <p>
      For your double blinds, make them unique and remember them with a cueing
      technique. One technique might be using the name of the service and adding
      it to an anagram.
    </p>

    <p>i.e.</p>

    <pre><code>I love to use bank of america =&gt;
Il2uboa

I love to use wells fargo =&gt;
Il2uwf
</code></pre>

    <h4>Safety Deposit Boxes</h4>

    <p>
      Store your master password in a bank's safety deposit box. Make sure to
      add how to get into those in your will!
    </p>

    <h4>Your Home Router</h4>

    <p>
      Change your home router's default admin username and password. This isn't
      all that extra to be honest. You should do this. I just didn't want to
      overwhelm in the main body of the article.
    </p>

    <p>
      Change your home router's firewall outbound traffic rules to
      only-permitted instead of all-permitted and update them as needed.
      <a
        target="_blank"
        href="https://docs.netgate.com/pfsense/en/latest/firewall/ingress-egress.html#egress-filtering"
        >More info</a
      >.
    </p>

    <h4>Remote Access</h4>

    <p>Enable remote tracking i.e. find my computer / phone services.</p>

    <p>
      Set up the ability to securely and remotely manage your computer / phone.
    </p>
  </body>
</html>
