*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-weight: 300;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:rgb(238, 238, 238);
    padding: 20px;
    gap: 1em;
}
h1{
    margin-bottom: 15px;
}

h2{
    margin-bottom: 10px;
}

h3, h4 {
    margin: 5px auto;
}


li{
    list-style-position: inside;
}

ul {list-style: none}

ul li::before {
    content: "•";
    font-size: 70%;
    color: rgb(0, 0, 0);
    display: inline-block;
    width: 1em;
    margin-right:1em;
    text-align: center;
    position: relative;
    top:-2px;
}

strong{
    font-weight: 600;
}

a > img {
max-width:200px;
}

.small {
    max-width:180px;
    margin: 0 auto;
}

.center{
    justify-self: center;
}

a:link,
a:visited{
    text-decoration: none;
    font-size: 105%;
    color: rgb(20, 18, 36);
}

a:hover{
    text-decoration: none;
    color:blue;
    text-decoration: underline;
}
a:active{
    text-decoration: none;
    color:#551A8B;
    text-decoration: underline;
}

p.add-space-after{
    margin-bottom:10px;
}

.header-img {
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 50%;
}

.text{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
}

.top{
    align-self: start;;
}

.right {
    grid-column-start:2;
    grid-column-end: 4;
    justify-self: end;
}

.resume{
    grid-column-start: 1;
    grid-column-end: 4;
}

.row {
    grid-column-start: 1;
    grid-column-end: 4;
}

/* small phones from 480 to 361px */
@media only screen and (max-width: 480px){
    body { font-size: 14px;}
}

/* tiny phones from 0 to 360px */
@media only screen and (max-width: 360px){
    body { font-size: 12px;}

}