<div class="fem-card">
<img
  src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/eszk7qojo4fweqbgh0c3.jpg"
/>
<h1>NTF Preview Card Component</h1>
<p>
  My first challenge after a long time a way from front end stuff. Glad to be back at it.
</p>
<a
  href="https://tapzx2.github.io/front_end_mentor_challenges/nft-preview-card-component-main/"
  >live</a
>
<a
  href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/nft-preview-card-component-main"
  >code</a
>
</div>