<div class="fem-card">
  <img
    src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/sdlgiw124enfcqdczq8a.jpg"
  />
  <h1>Equalizer Landing Page</h1>
  <p>
    I went a little overboard on this challenge. Taking the components' static
    locations in each design as a reference point, I solved for the quadratic
    equations. Then I used JavaScript to move them from each location to another
    as the browser width changed. In practice it was slow and painful and the
    rendered result doesn't perform that well. I'm looking forward to learning a
    better way!
  </p>
  <a
    target="_blank"
    href="https://tapzx2.github.io/front_end_mentor_challenges/equalizer-landing-page/index.html"
    >live</a
  >
  <span> / </span>
  <a
    target="_blank"
    href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/equalizer-landing-page"
    >code</a
  >
</div>
