<div class="fem-card">
  <img src="resources/photos/mondrian.jpg" />
  <h1>Mondrian Grid</h1>
  <p>
    A classic grid project from
    <a target="_blank" href="https://jensimmons.com/">Jen Simmons</a>. My
    implementation was a little different. I laid a Photoshop grid over the
    painting to create a more accurate replica of
    <a
      target="_blank"
      href="https://commons.wikimedia.org/wiki/File:Piet_Mondrian_-_Composition_No._III,_with_red,_blue,_yellow_and_black,_1929.jpg"
      >Composition No. III, with Red, Blue, Yellow, and Black, 1929</a
    >.
  </p>
  <a
    target="_blank"
    href="https://tapzx2.github.io/front_end_practice/mondran-grid/piet_mondrian_composition_no_iii_with_red_blue_yellow_and_black_1929.html"
    >live</a
  >
  <span> / </span>
  <a
    target="_blank"
    href="https://github.com/tapzx2/front_end_practice/tree/main/mondran-grid"
    >code</a
  >
</div>
