<div class="fem-card">
  <img src="resources/photos/mondrian.jpg" />
  <h1>Mondrian Grid</h1>
  <p>
    A classic grid project from
    <a target="_blank" href="https://jensimmons.com/">Jen Simmons</a>. My
    implementation was a little different. I laid a Photoshop grid over the painting to create a more accurate replica of <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Piet_Mondrian_-_Composition_No._III,_with_red,_blue,_yellow_and_black,_1929.jpg">Composition No. III, with Red, Blue, Yellow, and Black, 1929</a>. Also, I was having trouble making the grid responsive with
    just CSS. I decided to use Javascript.
    <pre><code>
      const grid = document.querySelector(".mondrian-wrapper"); 

      function resizeGrid() { grid.style.height = `${grid.clientWidth}px` } //on load set height to width

      resizeGrid(); // on window resize

      window.addEventListener('resize', resizeGrid);
      </code></pre>
  </p>
  <a href="https://tapzx2.github.io/pente-game/#/">live</a>
  <span> / </span>
  <a href="https://github.com/tapzx2/pente-game">code</a>
</div>
