<div class="fem-card">
<img
  src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/w5qt7ego9via0zeh63pz.jpg"
/>
<h1>Order Summary Component</h1>
<p>
  On this design, I learned that front end developers have some latitude to interpret the design! I have been struggling with background patterns because the Figma designs don't show what's supposed to happen past 1440px. It was twisting me in knots! And it shows on this challenge. In fact it was the reason I took a break from practice the first time. Now I know I can do what I think would be in the spirit of the design. Much more enjoyable!</p>
<a
  href="https://tapzx2.github.io/front_end_mentor_challenges/order-summary-component-main/"
  >live</a
>
<span> / </span>
<a
  href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/order-summary-component-main"
  >code</a
>
</div>