<div class="fem-card">
  <img src="resources/photos/meet-group-landing.png" />
  <h1>Meet Group Landing Page</h1>
  <p>
    I tried a different writing methodology on this site. The method I have been using is doing the whole mobile site and then the tablet and then the desktop. Instead, I applied this method component by component. The resulting code seems easier for my brain to manage. Though, I'd like to see if it makes sense to someone else who's reading it. For now, I'll keep using this technique!
  </p>
  <a href="https://tapzx2.github.io/front_end_mentor_challenges/meet-landing-page/">live</a>
  <span> / </span>
  <a href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/meet-landing-page">code</a>
</div>
