<div class="fem-card">
  <img src="resources/photos/pod-request-access-landing-page.png" />
  <h1>Pod Request Access Landing Page</h1>
  <p>
    The first project on Front End Mentor I've tackled that has asked for
    JavaScript. At first I used the css :invalid to check the mail format. There
    were some styling gotchas so I added a checking regex instead. I also wrote
    to my UI preference and have the validation message disappear once you start
    writing in the email box again.
  </p>
  <a
    target="_blank"
    href="https://tapzx2.github.io/front_end_mentor_challenges/pod-request-access-landing-page
    "
    >live</a
  >
  <span> / </span>
  <a
    target="_blank"
    href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/pod-request-access-landing-page"
    >code</a
  >
</div>
