<img
  src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/sdlgiw124enfcqdczq8a.jpg"
/>
<h1>3</h1>
<p>
  I got a little extra on this challenge. Taking the compontents' static
  loctions in each design as a reference point, I solved for the quadratic
  equations. Then used JavaScript to move them from each location to another as
  the width changed. In practice it was slow and painful and the rendered result
  doesn't perform all that well. Looking forward to learning a better way!
</p>
<a
  href="https://tapzx2.github.io/front_end_mentor_challenges/equalizer-landing-page/index.html"
  >live</a
>
<a
  href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/equalizer-landing-page"
  >code</a
>
<img
  src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/sdlgiw124enfcqdczq8a.jpg"
/>
<h1>2</h1>
<p>
  I got a little extra on this challenge. Taking the compontents' static
  loctions in each design as a reference point, I solved for the quadratic
  equations. Then used JavaScript move them from each location to another as the
  width changed. In practice it was slow and painful and the rendered result
  doesn't perform all that well. Looking forward to learning a better way!
</p>
<a
  href="https://tapzx2.github.io/front_end_mentor_challenges/equalizer-landing-page/index.html"
  >live</a
>
<a
  href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/equalizer-landing-page"
  >code</a
>
<img
  src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto,w_700/Screenshots/sdlgiw124enfcqdczq8a.jpg"
/>
<h1>Equalizer Landing Page</h1>
<p>
  I got a little extra on this challenge. Taking the compontents' static
  loctions in each design as a reference point, I solved for the quadratic
  equations. Then used JavaScript move them from each location to another as the
  width changed. In practice it was slow and painful and the rendered result
  doesn't perform all that well. Looking forward to learning a better way!
</p>
<a
  href="https://tapzx2.github.io/front_end_mentor_challenges/equalizer-landing-page/index.html"
  >live</a
>
<a
  href="https://github.com/tapzx2/front_end_mentor_challenges/tree/main/equalizer-landing-page"
  >code</a
>
